@import '../../global.styles.scss';
@import './wave.animation.scss';


.home{
  position: relative;
  height: $remHeight;
  width: 80%;
  margin: 0 auto;
  background-color: $darkBgColor;

  display: flex;
  justify-content: space-around;
  align-items: center;

  overflow-x: hidden;

  @media screen and (max-width: 1150px) {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
  }

  .home__img-container{
    flex: 0.5;
    max-width: 450px;
    height: 80%;
    border-right: 2px solid $lightBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      height: 50%;
      flex: 0.3;
      border-right: none;
    }
    img{
      width: 80%;
      @media screen and (max-width: 1150px) {
        width: 50%;
      }
    }
  } 

  .home__content-wrapper{
    flex: 0.5;
    justify-self: flex-start;
    //background: red;
    max-width: 450px;
    @media screen and (max-width: 1150px) {
      width: 85%;
      align-self: flex-start;
      flex: 0.7;
    }
    
    .content-main{
      font-size: $font-size-lg;
      @media screen and (max-width: 1150px) {
        font-size: $font-size-md;
        padding: 2px;
      }
      .content-name{
        font-weight: 400;
        font-size: 40px;
        color: $lightBgColor;
        @media screen and (max-width: 1150px) {
          padding: 0px;
          font-size: 30px;
        }
      }  
    }
    .content{
      font-size: $font-size-md;
      margin: 30px 0px;
      margin-top: 20px;
      .content-highlighted{
        color: $lightBgColor;
      }
      @media screen and (max-width: 1150px) {
        position: relative;
        margin-top: 0px;
        font-size: 1.3rem;
      }
      @media screen and (max-width: 400px) {
        margin-top: 0px;
        font-size: 1rem;
      }
    }

    .resume{
      margin-top: 30px;
      text-decoration: none;
      color: $lightBgColor;
      padding: 10px 5px;
      font-size: $font-size-md;
      border: 2px solid $lightBgColor;
      border-radius: 10px;
      transition: all 0.2s ease;

      @media screen and (max-width: 400px) {
        font-size: $font-size-sm;
      }

      &:hover{
        background-color: $lightBgColor;
        color: $darkBgColor;
        transform: scale(1.1);
      }
    }
  }
}