@import '../../global.styles.scss';

.projects{
  //height: $remHeight;
  height: auto;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //margin-bottom: 0px;
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0 10px;
    width: 100%;
  }
  

  .projects__heading{
    font-family: $highlighted;
    color: $lightBgColor;
    margin: 10px 0px;
  }

  .projects__container{
    width: 100%;
    //background-color: rgb(3, 54, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}