@import './global.styles.scss';

::-webkit-scrollbar {
  width: 6px;
  //background: none;
}

::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 1px $lightBgColor; 
  background-color: $darkBgColor;
  
}

::-webkit-scrollbar-thumb {
  background: $lightBgColor;
  //border-radius: 10px;
}

.app{
  scrollbar-color: $darkBgColor;
  .sections{
    position: relative;
    width: 100%;
    //background-color: rgb(4, 85, 85);
    background-color: $darkBgColor;
    top: $navbarSize;
    height: auto;
  }
}