@import './global.styles.scss';

.app{
  
  .sections{
    position: relative;
    width: 100%;
    //background-color: rgb(4, 85, 85);
    background-color: $darkBgColor;
    top: $navbarSize;
    height: auto;
  }
}